@import "@styles/theme.scss";

// Your style here
.button {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: 4px;
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}