@import "@styles/theme.scss";

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    background-color: #1c232b;
    font-family: sans-serif;
    overflow: hidden;
}

.column__ctn {
    margin-top: 5rem;
    background-color: #1c232b;
    border: 1px solid #FFFFFF50;

    h2 {
        width: 100%;
        text-align: center;
        padding: 2rem;
        border-bottom: 1px solid #FFFFFF50;
        font-size: 2rem;
        color: #FFFFFF;
    }
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.button {
    width: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}