@import "@styles/theme.scss";

// Your style here
.element {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
    border-radius: 4px;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #ae2d7f;
    cursor: grab;
    margin-bottom: 1rem;

    &.dragging {
        cursor: grabbing;
    }
}